[Unit]
Description=Torrs Telegram Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/torrs
EnvironmentFile=/opt/torrs/.env
ExecStart=/opt/torrs/torrs_bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
